.game-table{
    position: relative;
}

.player h3 {
    text-align: center;
    margin-top: 31px;
}

.game-table img {
    width: 130px;
}

.players img:not(:first-child) {
    display: block;
    margin-top: -150px;
}

.dealer img:not(:first-child) {
    margin-left: -94px;
}

img.hidden {
    position: absolute;
    left: 130px;
    bottom: 0;
    top: 0;
}

.dealer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid #300000;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background: rgba(0, 0, 0, 0.39);
    box-shadow: inset 0px -12px #470000;
    position: relative;
    width: 610px;
    margin: auto;
    transition: all .5s ease;
    overflow: hidden;
    max-height: 0;
}

button#deal {
    display: block;
    margin: 25px auto;
}

body {
    background: #024402 url(../img/bg.jpg);
    color: #eadd0c;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Ruslan Display', cursive;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}

.players {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.player {
    padding: 45px;
    border: 3px solid #300000;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.39);
    box-shadow: 0px 12px #470000;
    margin: 0 15px 30px;
    position: relative;
    text-align: center;
    min-width: 270px;
    margin-top: 100px;
    opacity: 0;
    transition: all .5s ease;
    transition-delay: .5s;
}

.player img {
    width: 100%;
    max-width: 135px;
}

.score-box {
    position: absolute;
    top: 0;
    background: #300000;
    padding: 8px;
    left: 42%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    font-size: 33px;
}

.buttons {
    text-align: center;
    margin-top: 40px;
}

.deal-btn .btn {
    font-size: 40px;
    cursor: pointer;
    border-radius: 100%;
    padding: 30px;
    box-shadow: 0 0 6px 2px #000, 0 0 20px 12px #09ffe8;
}

div#dealer-score {
    position: absolute;
    bottom: 0;
    background: #470000;
    padding: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    font-size: 1.2em;
}

.busted {
    background: rgba(255, 0, 0, 0.38);
}

.win {
    background: rgba(0, 128, 0, 0.51);
}

.lost {
    background: rgba(255, 0, 0, 0.43);
}

.busted:after {
    content: "BUSTED!";
}

.win:after {
    content: "WINNER!";
}

.lost:after {
    content: "DEALER WIN";
}

.push:after {
    content: "PUSH";
}

.push {
    background: rgba(37, 68, 224, 0.32);
}

.busted:after, .lost:after, .win:after, .push:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    transform: rotate(-45deg);
    text-shadow: 0 0 23px #000;
    line-height: 1;
    pointer-events: none;
}

form#number-form {
    text-align: center;
}

form#number-form input, #number-form .btn {
    height: 70px;
    font-size: 2em;
    margin-top: 50px;
}

input#how-many {
    text-align: center;
    background: rgba(72, 0, 0, 0.7);
    color: #fff;
    display: block;
    margin: 0 auto 20px;

}

.wallet {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 90px;
}

.wallet img {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
}

.wallet span {
    z-index: 1;
    position: absolute;
    top: 33px;
    left: 3px;
    font-size: 35px;
    color: #00c741;
    text-shadow: 0 0 14px #000, 0 0 14px #000;
}

.wallet span:before {
    content: "Wallet";
    position: absolute;
    bottom: 81%;
    line-height: 1;
    font-size: .5em;
    left: 3px;
}

.bet-ammt {
    position: absolute;
    width: 72px;
    top: -20px;
    right: -20px;
}

span.player-bets {
    position: absolute;
    left: 8%;
    top: 37%;
    font-size: 35px;
    text-shadow: 0 0 14px #000, 0 0 14px #000;
    color: #81ff8d;
    right: 8%;
}

span.player-bets:after {
    content: "Bet";
    position: absolute;
    bottom: 68%;
    left: 6px;
    font-size: .7em;
}

.quit {
    position: absolute;
    top: 95%;
    left: 25%;
    background: #480000;
    border: none;
    cursor: pointer;
}

form#number-form input {
    width: 450px;
}

.quit:hover {
  background-color: red;
}

.betting.new-game {
    padding: 30px 0;
}

.player h3 {
    background: rgba(0, 11, 73, 0.42);
    padding-top: 8px;
    border-radius: 100%;
}
.betting:not(.new-game) h5.again {
    display: none;
}
.betting.new-game h5.first {
    display: none;
}

.deal-btn {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
    top: 40%;
    background: rgba(72, 0, 0, 0.75);
    box-shadow: 0 0 0px 0px #000;
    max-height: 0;
    overflow: hidden;
    transition: all .5s cubic-bezier(0.87, 0.1, 0.49, 1.15);
}
.deal-btn.show {
    max-height: 162px;
    box-shadow: 0 0 1100px 130px #000;
}
.subtitle {
    text-align: center;
    margin-top: 50px;
    font-size: 3em;
    border-bottom: 2px solid;
}

#names input {
    margin-right: 33px;
}

.dealer.show {
    top: 0;
    max-height: 326px;
    padding: 25px 50px 50px;
}

.player.show {
    opacity: 1;
}

.container {
    text-align: center;
}

img.title-img {
    margin-top: 100px;
}
