@media screen and (max-width: $medium-break) {
  .grid{
    grid-template-columns: 1fr 1fr !important;
  }

  .large:after {
  width: 88% !important;
  }

}

@media screen and (max-width: $small-break) {

  body {
    font-size: .9em;
  }

  .grid {
    grid-template-columns: 1fr !important;
    grid-gap: 10px !important;
  }

  .story {
    height: auto;
    text-align: left !important;
  }
  .story.center {
    height: 100px;
  }
  .story.center .image {
    width: 30%;
    height: 80% !important;
    padding: 9px 0 9px 5px;
  }
  .story.large {
    grid-column: 1;
    height: 300px;
  }

  .large:after {
    height: 37.5% !important;
    width: 86.5% !important;
  }

  .center .content {
    padding: 0px 0 0 40% !important;
    margin-top: -106px;
  }

}
