#sidebar {
  position: fixed;
  width: 250px;
  min-width: 250px;
  max-width: 25px;
  height: 100vh!important;
  background: gainsboro;
  color: white;
  transition: all 30ms;
  text-align: right;
}

#sidebar, .sidebar-header {
  background: gainsboro;
}

#sidebar, .sidebar-header img {
  width: 100%;
  height: auto;
}

#sidebar ul li.active > a {
  color: orange;
  background: lightgrey;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1em;
  display: block;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5rem 1rem;
  background: gainsboro;
}
