#sidebar {
  position: fixed;
  width: 250px;
  min-width: 250px;
  max-width: 25px;
  height: 100vh!important;
  background: $base-color;
  color: $white;
  transition: all .3s;
  text-align: right;
}

#sidebar, .sidebar-header {
  background: $base-color;
}

#sidebar, .sidebar-header img {
  width: 100%;
  height: auto;
}

#sidebar ul li.active > a {
  color: $active-link;
  background: $lightgrey;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1em;
  display: block;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5rem 1rem;
  background: gainsboro;
}

ul.navbar-nav.text-uppercase.ml-auto {
    flex-direction: row;
}

.container {
    flex-wrap: nowrap !important;
    max-width: 885px;
}

li.nav-item {
    margin-right: 15px;
}
