* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  background: $base-color;
}

#content {
  width: calc(100% - 250px);
  min-height: 10vh;
  height: 100vh;
  transition: all 30ms;
  position: absolute;
  right: 0;
  padding: 30px;
  background: $base-color;
  z-index: 1;
}

.contact {
  background: $white;
  padding: 20px;
  padding-top: 30px;
}

.about {
  padding-top: 30px;
}

@media screen and (max-width:1000px) {
  .grid {
    grid-template-columns: 1fr 1fr !important;
  }
  #sidebar {
      margin-left: -250px;
  }
  #content {
    width: 100% !important;
  }
}
@media screen and (max-width:700px) {
  .grid {
    grid-template-columns: 1fr !important;
  }
}

@media (min-width: 1000px) {
  #mainNav {
    display: none;
  }
}
