h1 {
  font-weight: 400;
  color: $darkgray;
}

h2 {
  font-size: 1.2em;
  font-weight: 300;
  @include capitalize;
}

sub {
  font-weight: 400;
  color: $darkmediumgray;
}

.large h2 {
  margin-bottom: 50px;
}

.large .story-sub {
  margin-bottom: 50px;
  & sub {
    color: $white;
  }
}
